In [1]:
## Docs : https://github.com/owid/covid-19-data/tree/master/public/data
## Github : https://github.com/ElMehdiBen/Py_Course/tree/main/Pandas
##

# Cleaning the Dataframe - Exemples de cleaning avec des fonctions a utiliser
    ## Missing values handling - Examples
    ## Null, NaN, NA
    ## UDF - from Null or NAN or NA to 0 if it's a number
    ### Outliers,
    
# Data Analysis - Utilisation de plusieurs GroupBy pour generer des insights
    ## Largest new_cases in a month / location
    ## Largest new_deaths in a month / location
    ## Largest Ratio in new cases and deaths (population_density)
    ## Largest number of cases within the whole period
    ## Largest number of deaths within the whole period

# Adding columns - detecting causality - if there any
    ## What causes new cases per location (people from a location are smokers)
    ## icu_patients analysis
    ## tests analysis
    ## vaccination - comparing vacc rate in a period / location
    ## age analysis

In [5]:
import pandas as pdpd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
data = pd.read_csv('owid-covid-data.csv')

1 . Get the first 22 rows

In [4]:
data.head(7)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
5,AFG,Asia,Afghanistan,2020-02-29,1.0,0.0,0.143,NaN,NaN,0.0,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
6,AFG,Asia,Afghanistan,2020-03-01,1.0,0.0,0.143,NaN,NaN,0.0,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN

2 . Get the last 1 row

In [10]:
data.tail(1)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality
115249,ZWE,Africa,Zimbabwe,2021-09-07,125796.0,125.0,146.143,4503.0,10.0,12.0,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN

3 . Count the number of row and columns

In [7]:
data.shape

(115250, 62)

In [8]:
data.isna().any()

iso_code                      False
continent                      True
location                      False
date                          False
total_cases                    True
                              ...
handwashing_facilities         True
hospital_beds_per_thousand     True
life_expectancy                True
human_development_index        True
excess_mortality               True
Length: 62, dtype: bool

In [11]:
data[(data['life_expectancy'] == None)]

Empty DataFrame
Columns: [iso_code, continent, location, date, total_cases, new_cases, new_cases_smoothed, total_deaths, new_deaths, new_deaths_smoothed, total_cases_per_million, new_cases_per_million, new_cases_smoothed_per_million, total_deaths_per_million, new_deaths_per_million, new_deaths_smoothed_per_million, reproduction_rate, icu_patients, icu_patients_per_million, hosp_patients, hosp_patients_per_million, weekly_icu_admissions, weekly_icu_admissions_per_million, weekly_hosp_admissions, weekly_hosp_admissions_per_million, new_tests, total_tests, total_tests_per_thousand, new_tests_per_thousand, new_tests_smoothed, new_tests_smoothed_per_thousand, positive_rate, tests_per_case, tests_units, total_vaccinations, people_vaccinated, people_fully_vaccinated, total_boosters, new_vaccinations, new_vaccinations_smoothed, total_vaccinations_per_hundred, people_vaccinated_per_hundred, people_fully_vaccinated_per_hundred, total_boosters_per_hundred, new_vaccinations_smoothed_per_million, stringency_index, population, population_density, median_age, aged_65_older, aged_70_older, gdp_per_capita, extreme_poverty, cardiovasc_death_rate, diabetes_prevalence, female_smokers, male_smokers, handwashing_facilities, hospital_beds_per_thousand, life_expectancy, human_development_index, excess_mortality]
Index: []

4 . Get the column names from your dataframes as a list

In [38]:
data.columns
# list(data.columns) Liste Python avec retour chario

['iso_code',
 'continent',
 'location',
 'date',
 'total_cases',
 'new_cases',
 'new_cases_smoothed',
 'total_deaths',
 'new_deaths',
 'new_deaths_smoothed',
 'total_cases_per_million',
 'new_cases_per_million',
 'new_cases_smoothed_per_million',
 'total_deaths_per_million',
 'new_deaths_per_million',
 'new_deaths_smoothed_per_million',
 'reproduction_rate',
 'icu_patients',
 'icu_patients_per_million',
 'hosp_patients',
 'hosp_patients_per_million',
 'weekly_icu_admissions',
 'weekly_icu_admissions_per_million',
 'weekly_hosp_admissions',
 'weekly_hosp_admissions_per_million',
 'new_tests',
 'total_tests',
 'total_tests_per_thousand',
 'new_tests_per_thousand',
 'new_tests_smoothed',
 'new_tests_smoothed_per_thousand',
 'positive_rate',
 'tests_per_case',
 'tests_units',
 'total_vaccinations',
 'people_vaccinated',
 'people_fully_vaccinated',
 'total_boosters',
 'new_vaccinations',
 'new_vaccinations_smoothed',
 'total_vaccinations_per_hundred',
 'people_vaccinated_per_hundred',
 'people_fully_vaccinated_per_hundred',
 'total_boosters_per_hundred',
 'new_vaccinations_smoothed_per_million',
 'stringency_index',
 'population',
 'population_density',
 'median_age',
 'aged_65_older',
 'aged_70_older',
 'gdp_per_capita',
 'extreme_poverty',
 'cardiovasc_death_rate',
 'diabetes_prevalence',
 'female_smokers',
 'male_smokers',
 'handwashing_facilities',
 'hospital_beds_per_thousand',
 'life_expectancy',
 'human_development_index',
 'excess_mortality']

Fonction recherche Index

In [35]:
# data.column
# type(data.column) = Index
data.columns[3]

'date'

5 . Create a new dataframe from a reduced list of columns from the original dataframe

In [2]:
data2 = data[["continent","location","date","new_cases","new_deaths","population"]]
data2.head()

  continent     location        date  new_cases  new_deaths  population
0      Asia  Afghanistan  2020-02-24        1.0         NaN  39835428.0
1      Asia  Afghanistan  2020-02-25        0.0         NaN  39835428.0
2      Asia  Afghanistan  2020-02-26        0.0         NaN  39835428.0
3      Asia  Afghanistan  2020-02-27        0.0         NaN  39835428.0
4      Asia  Afghanistan  2020-02-28        0.0         NaN  39835428.0

6 . Get the continent column as pandas series and extract the list of unique continents from it

In [44]:
continental = data2['continent']
liste_continental = list(set(continental.tolist()))
continent_clean = liste_continental[1:]
print(continent_clean)

['Europe', 'South America', 'North America', 'Oceania', 'Asia', 'Africa']

7 . Using Filters on continents, calculate the sum of total cases per continent

In [5]:
# Filtrer sur continent, calculer la somme des new_cases (puis new_deaths) par continent (ou pays)
a = data2.groupby(['continent'])
a['new_cases'].sum()

# une ligne

continent
Africa            7951066.0
Asia             70899908.0
Europe           56971420.0
North America    48409729.0
Oceania            136348.0
South America    37087903.0
Name: new_cases, dtype: float64

In [57]:
sum(data['new_cases'][(data["continent"] == 'Asia')].tolist())

nan

In [58]:
sum(data['new_cases'][(data["continent"] == 'Asia') & (data["new_cases"].notnull())].tolist())

70899908.0

In [59]:
data.groupby(["continent"]).sum()

,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,new_deaths_per_million,new_deaths_smoothed_per_million,reproduction_rate,icu_patients,icu_patients_per_million,hosp_patients,hosp_patients_per_million,weekly_icu_admissions,weekly_icu_admissions_per_million,weekly_hosp_admissions,weekly_hosp_admissions_per_million,new_tests,total_tests,total_tests_per_thousand,new_tests_per_thousand,new_tests_smoothed,new_tests_smoothed_per_thousand,positive_rate,tests_per_case,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,new_vaccinations,new_vaccinations_smoothed,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,new_vaccinations_smoothed_per_million,stringency_index,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality
continent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Africa,1.526455e+09,7951066.0,7.891233e+06,39017637.0,200420.0,198775.343,1.191325e+08,763223.477,757004.424,1.985181e+06,12378.142,12276.588,25107.41,11694.0,262.107,0.0,0.000,0.000,0.000,0.000,0.000,41926771.0,8.847790e+09,2.932532e+05,1920.448,4.704111e+07,1852.059,879.268,354611.0,4.515840e+09,2.987012e+09,1.538522e+09,0.0,5.057574e+07,1.103169e+08,23171.92,15087.36,7953.71,0.00,9569238.0,1414505.17,7.542105e+11,2.943971e+06,616743.6,107515.704,63938.222,1.574368e+08,750414.9,8392867.812,164811.09,50244.3,534775.3,604609.361,32678.880,1881753.56,16103.476,1265.15
Asia,1.266855e+10,70899908.0,7.024106e+07,192374948.0,1065461.0,1054154.009,3.587530e+08,1869067.938,1848758.477,3.631807e+06,19475.254,19192.758,24106.75,62140.0,7069.577,425476.0,48405.793,25310.000,2879.480,51695.000,5881.268,923200105.0,1.665840e+11,4.948251e+06,26339.479,1.013330e+09,34430.037,1144.451,3964919.8,2.640382e+11,7.001429e+10,2.732264e+10,447790535.0,3.344039e+09,3.636293e+09,233992.03,123447.16,75981.36,1063.76,34318409.0,1508469.75,2.702909e+12,1.981462e+07,820218.4,171483.799,110690.702,6.098826e+08,88746.6,7439486.428,237085.08,102760.4,850339.7,991513.169,70519.480,1996586.23,19209.177,5521.58
Europe,1.238687e+10,56971420.0,5.659975e+07,304937255.0,1187864.0,1183094.478,9.018846e+08,4050569.797,4023375.314,1.772300e+07,70287.939,69973.167,25397.64,5858679.0,238037.243,38679932.0,1995589.795,231863.332,16827.593,3271197.379,171850.025,969457927.0,1.495134e+11,1.283440e+07,79356.106,1.147460e+09,84334.633,1289.514,1715873.2,6.989452e+10,4.269983e+10,2.777612e+10,4757846.0,6.611476e+08,7.555469e+08,415517.09,243308.24,164138.85,141.50,53525865.0,1312725.04,4.338948e+11,1.566238e+07,954117.9,402507.513,260915.003,7.960816e+08,15255.2,5310489.052,162891.21,529991.6,804213.8,156108.639,125422.707,2084106.08,20933.897,31823.79
North America,1.123246e+10,48409729.0,4.788068e+07,271680487.0,994234.0,987971.317,1.604082e+08,884721.628,861744.215,3.383848e+06,15677.160,15313.622,9986.94,5916452.0,23858.829,23152765.0,92694.709,0.000,0.000,2952554.000,8868.789,593007104.0,1.383465e+11,1.049733e+06,4954.035,5.918144e+08,5515.014,818.642,161508.1,6.662527e+10,3.991012e+10,2.819673e+10,26176568.0,5.320717e+08,5.666462e+08,135578.30,80715.23,51236.24,238.91,26496811.0,638027.33,3.509326e+11,3.033731e+06,381261.3,107746.518,68122.257,2.457140e+08,34572.0,2493017.261,147969.95,51185.2,149311.8,556113.902,29238.760,1119032.95,9593.845,8440.19
Oceania,1.906410e+07,136348.0,1.308532e+05,422434.0,1808.0,1771.908,3.449044e+06,58924.683,58037.743,4.175332e+04,652.503,636.531,1550.36,0.0,0.000,0.0,0.000,0.000,0.000,0.000,0.000,18883957.0,4.344585e+09,2.784889e+05,1427.220,3.449592e+07,2148.110,24.021,2704740.3,1.429307e+09,9.101999e+08,4.049881e+08,0.0,2.426058e+07,2.614245e+07,16780.39,10854.39,5334.53,0.00,12860253.0,137570.73,2.397171e+10,4.080511e+05,118110.1,33738.130,20759.304,6.238289e+07,17494.4,1458993.429,71887.86,51877.5,105575.4,45480.838,7709.520,372788.68,2940.125,374.61
South America,7.935704e+09,37087903.0,3.701488e+07,254172995.0,1127556.0,1125457.263,1.572989e+08,801096.071,797857.999,5.351099e+06,24575.950,24506.349,6689.95,0.0,0.000,0.0,0.000,0.000,0.000,0.000,0.000,69909490.0,1.360660e+10,5.812563e+05,3077.981,7.521048e+07,3443.863,731.869,80781.4,2.500893e+10,1.702529e+10,8.050111e+09,35610526.0,2.982744e+08,3.706613e+08,71633.40,45486.59,26175.53,359.47,11385996.0,464492.72,2.461555e+11,1.642672e+05,203595.1,55884.705,35033.659,9.351858e+07,14508.6,1252126.852,52278.71,55932.5,110729.3,217356.616,14090.240,511412.30,5146.659,24891.55

In [6]:
data[['continent', 'new_cases', 'new_deaths']].groupby(["continent"]).sum()

                new_cases  new_deaths
continent
Africa          7951066.0    200420.0
Asia           70899908.0   1065461.0
Europe         56971420.0   1187864.0
North America  48409729.0    994234.0
Oceania          136348.0      1808.0
South America  37087903.0   1127556.0

8 . Filter the data based on two dates

In [62]:
min(data['date'].tolist())

'2020-01-01'

In [63]:
max(data['date'].tolist())

'2021-09-07'

In [66]:
data[(data['location'] == 'France') & (data['date'] > '2020-06-24') & (data['date'] < '2020-07-24')]

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,new_deaths_per_million,new_deaths_smoothed_per_million,reproduction_rate,icu_patients,icu_patients_per_million,hosp_patients,hosp_patients_per_million,weekly_icu_admissions,weekly_icu_admissions_per_million,weekly_hosp_admissions,weekly_hosp_admissions_per_million,new_tests,total_tests,total_tests_per_thousand,new_tests_per_thousand,new_tests_smoothed,new_tests_smoothed_per_thousand,positive_rate,tests_per_case,tests_units,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,new_vaccinations,new_vaccinations_smoothed,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,new_vaccinations_smoothed_per_million,stringency_index,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality
37456,FRA,Europe,France,2020-06-25,201853.0,255.0,444.571,29754.0,19.0,21.143,2987.571,3.774,6.580,440.381,0.281,0.313,1.00,623.0,9.221,9096.0,134.627,NaN,NaN,NaN,NaN,39964.0,NaN,NaN,0.591,36695.0,0.543,0.014,71.4,people tested,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51.85,67564251.0,122.578,42.0,19.718,13.079,38605.671,NaN,86.06,4.77,30.1,35.6,NaN,5.98,82.66,0.901,NaN
37457,FRA,Europe,France,2020-06-26,203116.0,1263.0,512.571,29780.0,26.0,22.857,3006.264,18.693,7.586,440.766,0.385,0.338,1.04,606.0,8.969,8841.0,130.853,NaN,NaN,NaN,NaN,51333.0,NaN,NaN,0.760,37450.0,0.554,0.013,76.9,people tested,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51.85,67564251.0,122.578,42.0,19.718,13.079,38605.671,NaN,86.06,4.77,30.1,35.6,NaN,5.98,82.66,0.901,NaN
37458,FRA,Europe,France,2020-06-27,203564.0,448.0,488.143,29781.0,1.0,20.429,3012.895,6.631,7.225,440.780,0.015,0.302,1.05,594.0,8.792,8715.0,128.988,NaN,NaN,NaN,NaN,24668.0,NaN,NaN,0.365,37869.0,0.560,0.013,76.9,people tested,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51.85,67564251.0,122.578,42.0,19.718,13.079,38605.671,NaN,86.06,4.77,30.1,35.6,NaN,5.98,82.66,0.901,NaN
37459,FRA,Europe,France,2020-06-28,203157.0,-407.0,381.000,29781.0,0.0,19.571,3006.871,-6.024,5.639,440.780,0.000,0.290,1.06,594.0,8.792,8727.0,129.166,76.275,1.129,552.997,8.185,8244.0,NaN,NaN,0.122,38116.0,0.564,0.014,71.4,people tested,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51.85,67564251.0,122.578,42.0,19.718,13.079,38605.671,NaN,86.06,4.77,30.1,35.6,NaN,5.98,82.66,0.901,6.98
37460,FRA,Europe,France,2020-06-29,203802.0,645.0,452.857,29816.0,35.0,21.143,3016.418,9.546,6.703,441.298,0.518,0.313,1.06,591.0,8.747,8643.0,127.923,NaN,NaN,NaN,NaN,61815.0,NaN,NaN,0.915,40017.0,0.592,0.013,76.9,people tested,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51.85,67564251.0,122.578,42.0,19.718,13.079,38605.671,NaN,86.06,4.77,30.1,35.6,NaN,5.98,82.66,0.901,NaN
37461,FRA,Europe,France,2020-06-30,204244.0,442.0,416.286,29846.0,30.0,17.714,3022.960,6.542,6.161,441.742,0.444,0.262,1.07,574.0,8.496,8491.0,125.673,NaN,NaN,NaN,NaN,59773.0,NaN,NaN,0.885,41635.0,0.616,0.013,76.9,people tested,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51.85,67564251.0,122.578,42.0,19.718,13.079,38605.671,NaN,86.06,4.77,30.1,35.6,NaN,5.98,82.66,0.901,NaN
37462,FRA,Europe,France,2020-07-01,205234.0,990.0,519.429,29865.0,19.0,18.571,3037.612,14.653,7.688,442.024,0.281,0.275,1.08,554.0,8.200,8291.0,122.713,NaN,NaN,NaN,NaN,57320.0,NaN,NaN,0.848,43302.0,0.641,0.012,83.3,people tested,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51.85,67564251.0,122.578,42.0,19.718,13.079,38605.671,NaN,86.06,4.77,30.1,35.6,NaN,5.98,82.66,0.901,NaN
37463,FRA,Europe,France,2020-07-02,205773.0,539.0,560.000,29878.0,13.0,17.714,3045.590,7.978,8.288,442.216,0.192,0.262,1.07,545.0,8.066,8103.0,119.930,NaN,NaN,NaN,NaN,54984.0,NaN,NaN,0.814,45448.0,0.673,0.012,83.3,people tested,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51.85,67564251.0,122.578,42.0,19.718,13.079,38605.671,NaN,86.06,4.77,30.1,35.6,NaN,5.98,82.66,0.901,NaN
37464,FRA,Europe,France,2020-07-03,206312.0,539.0,456.571,29896.0,18.0,16.571,3053.567,7.978,6.758,442.483,0.266,0.245,1.06,533.0,7.889,7946.0,117.607,NaN,NaN,NaN,NaN,64395.0,NaN,NaN,0.953,47314.0,0.700,0.012,83.3,people tested,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51.85,67564251.0,122.578,42.0,19.718,13.079,38605.671,NaN,86.06,4.77,30.1,35.6,NaN,5.98,82.66,0.901,NaN
37465,FRA,Europe,France,2020-07-04,206670.0,358.0,443.714,29896.0,0.0,16.429,3058.866,5.299,6.567,442.483,0.000,0.243,1.07,517.0,7.652,7863.0,116.378,NaN,NaN,NaN,NaN,29230.0,NaN,NaN,0.433,47966.0,0.710,0.012,83.3,people tested,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51.85,67564251.0,122.578,42.0,19.718,13.079,38605.671,NaN,86.06,4.77,30.1,35.6,NaN,5.98,82.66,0.901,NaN
37466,FRA,Europe,France,2020-07-05,206682.0,12.0,503.571,29895.0,-1.0,16.286,3059.044,0.178,7.453,442.468,-0.015,0.241,1.08,521.0,7.711,7863.0,116.378,82.297,1.218,536.939,7.947,8549.0,NaN,NaN,0.127,48009.0,0.711,0.012,83.3,people tested,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51.85,67564251.0,122.578,42.0,19.718,13.079,38605.671,NaN,86.06,4.77,30.1,35.6,NaN,5.98,82.66,0.901,-6.76
37467,FRA,Europe,France,2020-07-06,207700.0,1018.0,556.857,29925.0,30.0,15.571,3074.111,15.067,8.242,442.912,0.444,0.230,1.09,521.0,7.711,7806.0,115.534,NaN,NaN,NaN,NaN,67144.0,NaN,NaN,0.994,48771.0,0.722,0.011,90.9,people tested,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51.85,67564251.0,122.578,42.0,19.718,13.079,38605.671,NaN,86.06,4.77,30.1,35.6,NaN,5.98,82.66,0.901,NaN
37468,FRA,Europe,France,2020-07-07,208154.0,454.0,558.571,29936.0,11.0,12.857,3080.830,6.720,8.267,443.075,0.163,0.190,1.09,511.0,7.563,7550.0,111.745,NaN,NaN,NaN,NaN,66313.0,NaN,NaN,0.981,49705.0,0.736,0.011,90.9,people tested,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51.85,67564251.0,122.578,42.0,19.718,13.079,38605.671,NaN,86.06,4.77,30.1,35.6,NaN,5.98,82.66,0.901,NaN
37469,FRA,Europe,France,2020-07-08,208976.0,822.0,534.571,29967.0,31.0,14.571,3092.997,12.166,7.912,443.533,0.459,0.216,1.10,503.0,7.445,7254.0,107.364,NaN,NaN,NaN,NaN,65186.0,NaN,NaN,0.965,50829.0,0.752,0.011,90.9,people tested,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51.85,67564251.0,122.578,42.0,19.718,13.079,38605.671,NaN,86.06,4.77,30.1,35.6,NaN,5.98,82.66,0.901,NaN
37470,FRA,Europe,France,2020-07-09,209420.0,444.0,521.000,29983.0,16.0,15.000,3099.568,6.572,7.711,443.770,0.237,0.222,1.09,486.0,7.193,7134.0,105.588,NaN,NaN,NaN,NaN,68827.0,NaN,NaN,1.019,52806.0,0.782,0.011,90.9,people tested,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51.85,67564251.0,122.578,42.0,19.718,13.079,38605.671,NaN,86.06,4.77,30.1,35.6,NaN,5.98,82.66,0.901,NaN
37471,FRA,Europe,France,2020-07-10,210135.0,715.0,546.143,30009.0,26.0,16.143,3110.151,10.583,8.083,444.155,0.385,0.239,1.10,471.0,6.971,7020.0,103.901,NaN,NaN,NaN,NaN,77237.0,NaN,NaN,1.143,54641.0,0.809,0.010,100.0,people tested,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51.85,67564251.0,122.578,42.0,19.718,13.079,38605.671,NaN,86.06,4.77,30.1,35.6,NaN,5.98,82.66,0.901,NaN
37472,FRA,Europe,France,2020-07-11,210386.0,251.0,530.857,30012.0,3.0,16.571,3113.866,3.715,7.857,444.199,0.044,0.245,1.12,470.0,6.956,6995.0,103.531,NaN,NaN,NaN,NaN,32655.0,NaN,NaN,0.483,55130.0,0.816,0.010,100.0,people tested,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46.30,67564251.0,122.578,42.0,19.718,13.079,38605.671,NaN,86.06,4.77,30.1,35.6,NaN,5.98,82.66,0.901,NaN
37473,FRA,Europe,France,2020-07-12,210402.0,16.0,531.429,30012.0,0.0,16.714,3114.102,0.237,7.866,444.199,0.000,0.247,1.13,473.0,7.001,6991.0,103.472,79.286,1.173,504.823,7.472,8531.0,NaN,NaN,0.126,55128.0,0.816,0.010,100.0,people tested,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46.30,67564251.0,122.578,42.0,19.718,13.079,38605.671,NaN,86.06,4.77,30.1,35.6,NaN,5.98,82.66,0.901,0.95
37474,FRA,Europe,France,2020-07-13,211825.0,1423.0,589.286,30035.0,23.0,15.714,3135.164,21.061,8.722,444.540,0.340,0.233,1.15,467.0,6.912,6941.0,102.732,NaN,NaN,NaN,NaN,80804.0,NaN,NaN,1.196,57079.0,0.845,0.011,90.9,people tested,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46.30,67564251.0,122.578,42.0,19.718,13.079,38605.671,NaN,86.06,4.77,30.1,35.6,NaN,5.98,82.66,0.901,NaN
37475,FRA,Europe,France,2020-07-14,211887.0,62.0,533.286,30037.0,2.0,14.429,3136.082,0.918,7.893,444.569,0.030,0.214,1.16,465.0,6.882,6907.0,102.229,NaN,NaN,NaN,NaN,12400.0,NaN,NaN,0.184,49377.0,0.731,0.011,90.9,people tested,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46.30,67564251.0,122.578,42.0,19.718,13.079,38605.671,NaN,86.06,4.77,30.1,35.6,NaN,5.98,82.66,0.901,NaN
37476,FRA,Europe,France,2020-07-15,212614.0,727.0,519.714,30125.0,88.0,22.571,3146.842,10.760,7.692,445.872,1.302,0.334,1.17,457.0,6.764,6873.0,101.725,NaN,NaN,NaN,NaN,80329.0,NaN,NaN,1.189,51540.0,0.763,0.011,90.9,people tested,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46.30,67564251.0,122.578,42.0,19.718,13.079,38605.671,NaN,86.06,4.77,30.1,35.6,NaN,5.98,82.66,0.901,NaN
37477,FRA,Europe,France,2020-07-16,213183.0,569.0,537.571,30142.0,17.0,22.714,3155.263,8.422,7.956,446.123,0.252,0.336,1.19,456.0,6.749,6754.0,99.964,NaN,NaN,NaN,NaN,84534.0,NaN,NaN,1.251,53784.0,0.796,0.011,90.9,people tested,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46.30,67564251.0,122.578,42.0,19.718,13.079,38605.671,NaN,86.06,4.77,30.1,35.6,NaN,5.98,82.66,0.901,NaN
37478,FRA,Europe,France,2020-07-17,214009.0,826.0,553.429,30155.0,13.0,20.857,3167.489,12.225,8.191,446.316,0.192,0.309,1.21,452.0,6.690,6646.0,98.366,NaN,NaN,NaN,NaN,94270.0,NaN,NaN,1.395,56218.0,0.832,0.011,90.9,people tested,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46.30,67564251.0,122.578,42.0,19.718,13.079,38605.671,NaN,86.06,4.77,30.1,35.6,NaN,5.98,82.66,0.901,NaN
37479,FRA,Europe,France,2020-07-18,214174.0,165.0,541.143,30158.0,3.0,20.857,3169.931,2.442,8.009,446.360,0.044,0.309,1.24,450.0,6.660,6614.0,97.892,NaN,NaN,NaN,NaN,40729.0,NaN,NaN,0.603,57371.0,0.849,0.011,90.9,people tested,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46.30,67564251.0,122.578,42.0,19.718,13.079,38605.671,NaN,86.06,4.77,30.1,35.6,NaN,5.98,82.66,0.901,NaN
37480,FRA,Europe,France,2020-07-19,214178.0,4.0,539.429,30158.0,0.0,20.857,3169.990,0.059,7.984,446.360,0.000,0.309,1.28,448.0,6.631,6583.0,97.433,81.294,1.203,510.845,7.561,12302.0,NaN,NaN,0.182,57910.0,0.857,0.011,90.9,people tested,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46.30,67564251.0,122.578,42.0,19.718,13.079,38605.671,NaN,86.06,4.77,30.1,35.6,NaN,5.98,82.66,0.901,-3.02
37481,FRA,Europe,France,2020-07-20,216089.0,1911.0,609.143,30182.0,24.0,21.000,3198.274,28.284,9.016,446.716,0.355,0.311,1.31,442.0,6.542,6547.0,96.900,NaN,NaN,NaN,NaN,93123.0,NaN,NaN,1.378,59670.0,0.883,0.011,90.9,people tested,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46.30,67564251.0,122.578,42.0,19.718,13.079,38605.671,NaN,86.06,4.77,30.1,35.6,NaN,5.98,82.66,0.901,NaN
37482,FRA,Europe,France,2020-07-21,216684.0,595.0,685.286,30169.0,-13.0,18.857,3207.081,8.806,10.143,446.523,-0.192,0.279,1.32,430.0,6.364,6440.0,95.317,NaN,NaN,NaN,NaN,89313.0,NaN,NaN,1.322,70657.0,1.046,0.011,90.9,people tested,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46.30,67564251.0,122.578,42.0,19.718,13.079,38605.671,NaN,86.06,4.77,30.1,35.6,NaN,5.98,82.66,0.901,NaN
37483,FRA,Europe,France,2020-07-22,217605.0,921.0,713.000,30175.0,6.0,7.143,3220.712,13.631,10.553,446.612,0.089,0.106,1.32,420.0,6.216,6324.0,93.600,NaN,NaN,NaN,NaN,89283.0,NaN,NaN,1.321,71936.0,1.065,0.012,83.3,people tested,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46.30,67564251.0,122.578,42.0,19.718,13.079,38605.671,NaN,86.06,4.77,30.1,35.6,NaN,5.98,82.66,0.901,NaN
37484,FRA,Europe,France,2020-07-23,218841.0,1236.0,808.286,30186.0,11.0,6.286,3239.006,18.294,11.963,446.775,0.163,0.093,1.33,411.0,6.083,5915.0,87.546,NaN,NaN,NaN,NaN,88357.0,NaN,NaN,1.308,72482.0,1.073,0.012,83.3,people tested,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46.30,67564251.0,122.578,42.0,19.718,13.079,38605.671,NaN,86.06,4.77,30.1,35.6,NaN,5.98,82.66,0.901,NaN

In [6]:
data[["iso_code", "total_cases", "new_cases"]][(data['location'] == 'France') | (data['location'] == 'Maroc')][10:100].groupby("iso_code").sum()
# data[colonnes][filters][indexes].groupby('colonne voulue').sum()
# |-------------------------------------------------------|
# Dataframe.groupby
# any aggregation (sum, mean, min, max.....) we need a groupby
# Filters 
# | == OR
# & == AND

          total_cases  new_cases
iso_code
FRA         4204259.0   170173.0

In [6]:
## Plusieurs groupby
data[['continent', 'location','new_cases', 'new_deaths']].groupby(['continent','location']).sum()

                            new_cases  new_deaths
continent     location
Africa        Algeria        198645.0      5471.0
              Angola          49114.0      1299.0
              Benin           16946.0       135.0
              Botswana       162186.0      2309.0
              Burkina Faso    13868.0       171.0
...                               ...         ...
South America Paraguay       458977.0     15888.0
              Peru          2156451.0    198568.0
              Suriname        31392.0       743.0
              Uruguay        385926.0      6037.0
              Venezuela      342148.0      4133.0

[224 rows x 2 columns]

In [32]:
## Largest new_cases in a month / location
data[['location','new_cases']][(data['date'] > '2020-06-24') & (data['date'] < '2020-07-24')].groupby(['location']).max()['new_cases'].nlargest()

location
World            282914.0
South America     90682.0
North America     87603.0
Asia              79842.0
United States     75865.0
Name: new_cases, dtype: float64

In [33]:
## Largest new_deaths in a month / location
data[['location','new_deaths']][(data['date'] > '2020-06-24') & (data['date'] < '2020-07-24')].groupby(['location']).max()['new_deaths'].nlargest()

location
World            7355.0
South America    3217.0
North America    2165.0
Asia             1918.0
Brazil           1367.0
Name: new_deaths, dtype: float64

In [50]:
## Largest Ratio in new cases and deaths (population_density)
density=data[['location','new_cases','new_deaths','population_density']].groupby(['location','population_density']).sum()

In [52]:
density = density.reset_index() # Permet de remettre les index Ã  0 ... (possible Ã  relancer)

In [53]:
density['population_density']

0       54.422
1      104.871
2       17.348
3      163.755
4       23.890
        ...
203    308.127
204     58.045
205     53.508
206     22.995
207     42.729
Name: population_density, Length: 208, dtype: float64

In [43]:
density

        location  population_density    new_cases  new_deaths
0    Afghanistan              54.422     153626.0      7144.0
1        Albania             104.871     152239.0      2523.0
2        Algeria              17.348     198645.0      5471.0
3        Andorra             163.755      15070.0       130.0
4         Angola              23.890      49114.0      1299.0
..           ...                 ...          ...         ...
203      Vietnam             308.127     550996.0     13701.0
204        World              58.045  221457950.0   4577358.0
205        Yemen              53.508       8181.0      1534.0
206       Zambia              22.995     207294.0      3620.0
207     Zimbabwe              42.729     125796.0      4503.0

[208 rows x 4 columns]

In [54]:
# Creation colonne
density['new'] = density['new_cases'] + 1

In [55]:
density

        location  population_density    new_cases  new_deaths          new
0    Afghanistan              54.422     153626.0      7144.0     153627.0
1        Albania             104.871     152239.0      2523.0     152240.0
2        Algeria              17.348     198645.0      5471.0     198646.0
3        Andorra             163.755      15070.0       130.0      15071.0
4         Angola              23.890      49114.0      1299.0      49115.0
..           ...                 ...          ...         ...          ...
203      Vietnam             308.127     550996.0     13701.0     550997.0
204        World              58.045  221457950.0   4577358.0  221457951.0
205        Yemen              53.508       8181.0      1534.0       8182.0
206       Zambia              22.995     207294.0      3620.0     207295.0
207     Zimbabwe              42.729     125796.0      4503.0     125797.0

[208 rows x 5 columns]

In [56]:
density['new'] = density['new_cases'] * density["population_density"]

In [57]:
density.sort_values("new", ascending = False)

,location,population_density,new_cases,new_deaths,new
86,India,450.419,33096718.0,441411.0,1.490739e+10
204,World,58.045,221457950.0,4577358.0,1.285453e+10
197,United Kingdom,272.898,7089051.0,133808.0,1.934588e+09
14,Bangladesh,1265.036,1519805.0,26684.0,1.922608e+09
198,United States,35.608,40280000.0,650511.0,1.434290e+09
...,...,...,...,...,...
192,Turks and Caicos Islands,37.312,0.0,0.0,0.000000e+00
191,Turkmenistan,12.253,0.0,0.0,0.000000e+00
20,Bermuda,1308.820,0.0,0.0,0.000000e+00
35,Cayman Islands,256.496,0.0,0.0,0.000000e+00
112,Macao,20546.766,0.0,0.0,0.000000e+00

In [61]:
data.dtypes

iso_code                       object
continent                      object
location                       object
date                           object
total_cases                   float64
                               ...
handwashing_facilities        float64
hospital_beds_per_thousand    float64
life_expectancy               float64
human_development_index       float64
excess_mortality              float64
Length: 62, dtype: object

In [62]:
data.isnull().sum()

iso_code                           0
continent                       5281
location                           0
date                               0
total_cases                     5589
                               ...
handwashing_facilities         63894
hospital_beds_per_thousand     22259
life_expectancy                 5926
human_development_index        12920
excess_mortality              111248
Length: 62, dtype: int64

In [64]:
import pandas as pd

data = {'Name': [True, False, True], 'X':['True', 'True', 'True'], "Y":['1', '44', '13']}

df = pd.DataFrame(data)

In [65]:
df

    Name     X   Y
0   True  True   1
1  False  True  44
2   True  True  13

In [67]:
df.infer_objects().dtypes

Name      bool
X       object
Y       object
dtype: object

In [68]:
df.dtypes

Name      bool
X       object
Y       object
dtype: object