In [2]:
import pandas as pd

df = pd.read_csv("2020-covid19.csv", encoding="ISO-8859-1")

In [3]:
df

,description,industry,level,size,line_code,value
0,Business status Alert Level 4: Fully operational,total,0,619 employees,C0301.01,6054
1,Business status Alert Level 4: Fully operational,total,0,2049 employees,C0301.01,1650
2,Business status Alert Level 4: Fully operational,total,0,5099 employees,C0301.01,735
3,Business status Alert Level 4: Fully operational,total,0,100+ employees,C0301.01,711
4,Business status Alert Level 4: Fully operational,"Agriculture, forestry, & fishing",1,total,C0301.01,2175
...,...,...,...,...,...,...
10053,Reasons why you expect COVID-19 pandemic to ch...,Education & training,1,total,C2309,21
10054,Reasons why you expect COVID-19 pandemic to ch...,Health care & social assistance,1,total,C2309,27
10055,Reasons why you expect COVID-19 pandemic to ch...,Arts & recreation services,1,total,C2309,0
10056,Reasons why you expect COVID-19 pandemic to ch...,Other services,1,total,C2309,12
10057,Reasons why you expect COVID-19 pandemic to ch...,total,0,total,C2309,231

In [10]:
import numpy

In [7]:
print('yes')

yes

In [15]:
x = 2

In [13]:
def fct(x):
    print("Salut ", x)

# Exercice 1

In [16]:
fct(x)

Salut  2